@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* ====================
* Common
==================== */
/* BASIC */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,select,button,
ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,textarea {margin:0;padding:0;border:0;}
fieldset,img{border:0 none}
ul,ol{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
img {-ms-interpolation-mode:bicubic !important;}
input,select,textarea,button,img {vertical-align:middle;font-family:inherit;}
input {margin:0;padding:0;}
table,th,td {margin:0;padding:0;border-spacing:0px;/*border-collapse:collapse;*/}
caption {font-size: 0;height: 0;}
html{overflow-y:scroll;height: 100%;}
body{
  height: 100%;
	font-family: '맑은고딕',sans-serif,'돋움';
	color:#777;
	font-size:14px;
	-webkit-text-size-adjust:none;
  letter-spacing: -0.5px;
}
a {text-decoration:none;color:#666;}
a:hover {text-decoration:none;}

select {
  width: 120px;
  height: 30px;
  border: 1px solid #e5e5e5;
  text-indent: 10px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 32px;
  border: 1px solid #e5e5e5;
  text-indent: 10px;
}
input[type="radio"] {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
input.gy {
  background-color: #f4f4f4;
}
label {vertical-align: middle;}
.board_select {width: 160px; margin-right: 5px;}

th, td {display: table-cell;}
.clear {clear:both;display:block;float:none;font-size:0 !important;height:0;line-height:0 !important;margin:0 !important;overflow:hidden;padding:0 !important;width:100%;}
.clearfix {*zoom:1;}
.clearfix:after {content:"";display:block;clear:both;font-size:0;}

.fs12 {font-size: 12px;}

/* float */
.lef, .fl_lef {float: left;}
.rig,.fl_rig {float: right;}

/* text align */
.al_cen {text-align: center;}
.al_left {text-align: left;}
.al_right {text-align: right;}


.wiset_wrap {width: 100%; min-width: 1100px;}
#wiset_wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 1150px;
  padding-bottom: 165px;
}
.inner {
  margin: 0 auto;
  width: 1150px;
  overflow: hidden;
}

/* ====================
* Header
==================== */
#header {
  position: relative;
  background-color: #f4f4f4;
  width: 100%;
  height: 67px;
}
#header .logo {
  position: relative;
  top: 16px;
}
#header .site {
  position: relative;
  top: -10px;
}
#header .site > li {margin-left: 20px;}
#header .site li {display: inline-block; font-size: 13px;}
#header .site li a {display: block;}
#header .site li ul {display: inline-block;}
#header .site li ul li {
  position: relative;
  padding: 0 5px;
}
#header .site li ul li:first-child:before {content: "";}
#header .site li ul li:before {
  content: "|";
  position: absolute;
  top: -1px;
  left: -3px;
}
#header .site .tit {
  display: inline-block;
  background: #959595;
  color: #fff;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;


}


/* ====================
* Footer
==================== */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 65px;
  height: 100px;
  padding: 20px 0;
  background-color: #282a2c;
  width: 100%;
  text-align: center;
  color: #959595;
  text-align: center;
  line-height: 1.5;
}
.ft_info {font-size: 0;}
.ft_info li {
  padding: 0 10px;
  display: inline-block;
  font-size: 13px;
}
.ft_copy {font-size: 13px;}

/* ====================
* content
==================== */
#content {
  margin-top: 55px;
  min-height: 500px;
}
