
/* ====================
* Login
==================== */
.login_table {
  margin: 0 auto;
  width: 630px;
  height: 100%;
}
.login_table.login_table2 td {border: 0;}
.login_table td {
  padding: 60px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
}
/* .login_table td > div {
  padding: 30px;
  width: 100%;
  border: 1px solid #e5e5e5;
} */
.login_table .inner {
  width: 100%;
}
.login_table .tit {
  font-size: 24px;
  color: #1b1b1b;
  font-weight: 600;
}
.input_wrap {
  margin: 10px 0;
  overflow: hidden;
}
.input_wrap .lef {
  width: 302px;
}
.input_wrap .rig {
  width: 200px;
}
.input_wrap input {
  display: block;
  width: 300px;
  height: 34px;
  line-height: 34px;
}
.input_wrap input + input {margin-top: 7px;}
.input_wrap button {
  width: 200px;
  height: 80px;
  background-color: #20409a;
  font-size: 18px;
  color: #fff;
  border-radius: 5px
}

/* ====================
* 테이블 상단
==================== */
.cont_title {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 20px;
  color: #1b1b1b;
  line-height: 19px;
}
.cont_title:before {
  content: "";
  margin-right: 5px;
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(/public/img/cont-title.png) no-repeat 0 0;
}

/* ====================
* Board
==================== */
.result > span {
  margin: 0 auto;
  display: block;
  width: 70px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
}
.result .r_start {background-color: #007dc6;}
.result .r_ing {background-color: #ef3e61;}
.result .r_end {background-color: #959595;}
.result .r_edit {background-color: #20409a;}
.result .r_stop {background-color: #4a4a4a;}
.result .date {display: inline-block; color: #535353;}

/* 리스트 테이블 :: 일반게시판 */
.list_table {
  width: 100%;
  border-collapse : collapse;
  border-bottom: 1px solid #d5d5d5;
  position: relative;
  border-top: 1px solid #1b1b1b;
}
.list_table th,
.list_table td {
  border-left: 1px solid #d5d5d5;
}
.list_table th:first-child {border-left: 0;}
.list_table td:first-child {border-left: 0;}

.list_table thead th {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  font-weight: bold;
  text-align: center;
  height: 40px;
  background-color: #f3f3f3;
}
.list_table thead th a {color: #333;}
.list_table thead th span {position: relative;font-size: 10px; top: -2px;}
.list_table thead td {font-size: 14px; color: #1b1b1b;}
.list_table tbody td {
  padding: 5px 15px;
  height: 40px;
  font-size: 14px;
  border-top: 1px solid #d5d5d5;
  text-align: center;
  vertical-align: middle;
}
.list_table tbody .title {text-align: left;}
.list_table tbody .title .team {
  font-size: 13px;
  float: left;
  vertical-align: middle;
}
.list_table tbody .title .team:before {content: "[";}
.list_table tbody .title .team:after {content: "]";}
.list_table tbody .title a {
  float: left;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  margin-left: 5px;
  color: #1b1b1b;
  line-height: 1.3;
  vertical-align: middle;
}
.list_table tbody .title a:hover {text-decoration: underline;}
.list_table tbody .title .file {
  margin-left: 5px;
  float: left;
}
.list_table tbody .title .coment {
  margin-left: 5px;
  font-size: 14px;
  float: left;
  vertical-align: middle;
}
.list_table tbody .title .coment:before {content: "(";}
.list_table tbody .title .coment:after {content: ")";}
.list_table tbody .title .new {
  margin-left: 5px;
  position: relative;
  top: 3px;
  width: 30px;
  height: 15px;
  line-height: 12px;
  text-align: center;
  color: #ef3e61;
  border: 1px solid #ef3e61;
  font-size: 10px;
  font-weight: 600;
  float: left;
}

/* .list_table .notice {background:#efefef;} */

/* 일반게시판 뷰 */
.list_detail {
  width: 100%;
  border-collapse : collapse;
  border-bottom: 1px solid #d5d5d5;
  position: relative;
  border-top: 1px solid #1b1b1b;
}
.list_detail th,
.list_detail td {
  border-left: 1px solid #d5d5d5;
}
.list_detail th a,
.list_detail td a {
  color: #333;
}
.list_detail th:first-child {border-left: 0;}
.list_detail td:first-child {border-left: 0;}

.list_detail th {
  padding: 0 20px;
  font-size: 14px;
  height: 51px;
  color: #333;
  text-align: left;
  background-color: #f3f3f3;
  border-top: 1px solid #d5d5d5;
}
.list_detail .point span {color: #d41212;}
.list_detail td {
  padding: 10px 0 10px 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-top: 1px solid #d5d5d5;
  line-height: 1.5;
}
.list_detail ul {width: 100%;}
.list_detail ul li {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 230px;
}
.list_detail ul li span {
  color: #535353;
}
.list_detail ul li:before {
  content: "|";
  position: absolute;
  left: 0;
  color: #20409a;
}
.list_detail ul li:first-child {
  text-align: left;
}
.list_detail ul li:first-child:before {content: "";}
.list_detail .file {
  margin-right: 5px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(/public/img/icon_file.png) no-repeat 0 0;
}
.list_detail ul.info li {
  width: auto;
  padding: 0 30px;
}
.list_detail ul.info li:first-child {padding-left: 0;}
.list_detail .w_date .date {
  width: 150px;
  line-height: 30px;
  background: url(/public/img/icon_date.png) no-repeat right 10px center;
}
.list_detail .w_date .date.gy {
    background: #f4f4f4 url(/public/img/icon_date.png) no-repeat right 10px center;
}
.list_detail .w_date span {font-size: 12px;}
.list_detail .result > span {
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}

.list_detail.list_write td {
  padding-left: 20px;
  padding-right: 20px;
}
.list_detail .receipt li {
  display: inline-block;
}
.list_detail .receipt label + input[type="radio"] {margin-left: 30px;}
.list_detail .receipt input[type="date"] {margin-left: 20px;}
.list_detail .w_memo {
  padding: 5px 10px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

/* 파일첨부 */
.file_input {overflow: hidden;}
.file_input .upload_name {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    width:400px;
    height:30px;
    text-align:center;
    line-height:30px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
}
.file_input input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}
.btn.btn_file {
  display: inline-block;
  cursor:pointer;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #959595;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
}
a.down_file {margin-right: 5px;}
.file_input .txt {
  margin-left: 5px;
  line-height: 1.2;
}
.file_input .txt span {letter-spacing: 0;}


/*일반게시판 뷰 :: 답글*/
.co_writer {
  margin-top: 20px;
  padding: 20px 25px;
  box-sizing: border-box;
  width: 100%;
  background: #efefef;
}
.edit_wrap .edit_btn {
  width: 80px;
  height: 25px;
  line-height: 23px;
  border: 1px solid #20409a;
  color: #20409a;
  background: none;
  border-radius: 3px;
}
.edit_wrap .edit_btn.active {
  background: #20409a;
  color: #fff;
}
.edit_wrap span {
  padding-left: 5px;
  font-size: 12px;
  color: #20409a;
}
.co_writer .reply_txt {
  margin: 10px 0;
  overflow: hidden;
}
.co_writer .reply_txt .comment {
  float: left;
  width: 1000px;
  height: 80px;
}
.co_writer .reply_txt button {
  float: right;
  width: 80px;
  height: 80px;
  color: #fff;
  background-color: #20409a;
  text-align: center;
  border-radius: 5px;
}


.list_reply {
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    overflow: hidden;
}
.list_reply .title {
  background-color: #959595;
  height: 40px;
  line-height: 40px;
  text-indent: 20px;
  color: #fff;
  font-size: 16px;
}
.list_reply .box {
  padding: 15px 20px;
  border-top: 1px solid #d5d5d5;
}
.list_reply .box:first-child {border-top: none;}
.list_reply .box.admin {background: #f4f4f4;}
.list_reply .box .re_top .name {
  font-size: 16px;
  color: #1b1b1b;
  font-weight: 600;
}
.list_reply .box .re_top .name.admin {
  color: #00529c;
}
.list_reply .box .re_top .date {
  padding-left: 5px;
  color: #959595;
  letter-spacing: 0;
}
.list_reply .box .re_top .edit {
  margin-left: 10px;
  display: inline-block;

}
.list_reply .box .re_top .edit li {
  position: relative;
  padding-left: 8px;
  display: inline-block;
  font-size: 13px;
}
.list_reply .box .re_top .edit li:first-child {padding-left: 0;}
.list_reply .box .re_top .edit li:before {
  content: "|";
  position: absolute;
  left: 0;
}
.list_reply .box .re_top .edit li:first-child:before {content: "";}
.list_reply .box .re_top .edit li a {
  color: #535353;
}
.list_reply .box .re_view {
  margin-top: 5px;
  color: #1b1b1b;
  line-height: 1.5;
}
.list_reply .box .re_file {
  margin-top: 10px;
  font-size: 12px;
}
.list_reply .box .re_file a {color: #535353;}
.list_reply .box .re_file:before {
  content: "";
  position: relative;
  top: 1px;
  padding-right: 5px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(/public/img/icon_file.png) no-repeat 0 0;
}

/*==============================
페이징
===============================*/
.list_paging {margin-top: 30px; text-align: center;}
.list_paging .pagination {display: inline-block;}
.list_paging .pagination li {
  vertical-align: middle;
  display: inline;
  font-size: 0;
}
.list_paging .pagination .page,
.list_paging .pagination .page a {font-size: 13px;}
.list_paging .pagination li a {
  margin-left: -1px;
  float: left;
  width: 30px; height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  background-position: center;
  padding:0;
  color: #6e6e6e;
}
.list_paging .pagination li a:hover {background-color: #eee; color: #333;}
.list_paging .pagination li.active a {background: #20409a; color: #fff; font-weight: 600;}
.list_paging .pagination .page.active:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.list_paging .pagination li:first-child a {border-radius: 5px 0 0 5px;}
.list_paging .pagination li:last-child a {border-radius: 0 5px 5px 0;}
.list_paging .pagination li.first a {background-image: url('/public/img/paging-first.png');}
.list_paging .pagination li.prve a {background-image: url('/public/img/paging-prev.png');}
.list_paging .pagination li.next a {background-image: url('/public/img/paging-next.png');}
.list_paging .pagination li.last a {background-image: url('/public/img/paging-last.png');}

/*==============================
버튼
===============================*/
.btn_howto {
  margin-left: 10px;
  padding: 0 10px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  background-color: #959595;
  border-radius: 5px;
  color: #fff;
  position: relative;
  top: -2px;
}
.btn_wrap {
  margin-top: 30px;
}
.btn {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  width: 120px;
  height: 45px;
  line-height: 45px;
  background-color: #20409a;
  border-radius: 5px;
}
.btn1 {
  background-color: #646464;
}
.btn + .btn {margin: 0 5px;}

/*==============================
검색
===============================*/
.search {
  margin-top: 30px;
  text-align: center;
}
.search select {
  height: 32px;
  border-color: #888;
}
.search input[type="text"] {
  width: 245px;
  border-color: #888;
}
.search button {
  width: 60px; height: 32px;
  background: #666;
  color: #fff;
  border-radius: 5px;
}


.cont_area {
  padding: 10px 20px;
  border: 1px solid #d5d5d5;
  width: 100%;
  height: 350px;
  box-sizing: border-box;
}
